
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row"></div>
            <div class="content-body">
                <!-- Full calendar start -->
                    <section>
                        <div class="app-calendar overflow-hidden border">
                            <div class="row g-0">
                                <!-- Sidebar -->
                                <div class="col app-calendar-sidebar flex-grow-0 overflow-hidden d-flex flex-column" id="app-calendar-sidebar">
                                    <div class="sidebar-wrapper">
                                        <div class="card-body d-flex justify-content-center">
                                            <button class="btn btn-primary btn-toggle-sidebar w-100" data-bs-toggle="modal" data-bs-target="#add-new-sidebar">
                                                <span class="align-middle">Agregar Evento</span>
                                            </button>
                                        </div>
                                        <div class="card-body pb-0">
                                            <h5 class="section-label mb-1">
                                                <span class="align-middle">Fritro</span>
                                            </h5>
                                            <div class="form-check mb-1">
                                                <input type="checkbox" class="form-check-input select-all" id="select-all" checked />
                                                <label class="form-check-label" for="select-all">Ver todos</label>
                                            </div>
                                            <div class="calendar-events-filter">
                                                {{#each gruposList as |grupo i|}}
                                                    <div class="form-check form-check-danger mb-1">
                                                    <input type="checkbox" class="form-check-input input-filter" id="g{{pkIdGrupoGimnasio}}" data-value="g{{pkIdGrupoGimnasio}}" checked />
                                                    <label class="form-check-label" for="g{{pkIdGrupoGimnasio}}">{{nombre}}</label>
                                                </div>
                                                    {{/each}}
                                                {{!-- <div class="form-check form-check-danger mb-1">
                                                    <input type="checkbox" class="form-check-input input-filter" id="azul" data-value="azul" checked />
                                                    <label class="form-check-label" for="azul">Azul</label>
                                                </div>
                                                <div class="form-check form-check-primary mb-1">
                                                    <input type="checkbox" class="form-check-input input-filter" id="amarillo" data-value="amarillo" checked />
                                                    <label class="form-check-label" for="Amarillo">Amarillo</label>
                                                </div>
                                                <div class="form-check form-check-warning mb-1">
                                                    <input type="checkbox" class="form-check-input input-filter" id="negro" data-value="negro" checked />
                                                    <label class="form-check-label" for="Negro">Negro</label>
                                                </div>    
                                                <div class="form-check form-check-warning mb-1">
                                                    <input type="checkbox" class="form-check-input input-filter" id="verde" data-value="verde" checked />
                                                    <label class="form-check-label" for="Verde">Verde</label>
                                                </div>    --}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-auto">
                                        <img src="app-assets/images/pages/calendar-illustration.png" alt="Calendar illustration" class="img-fluid" />
                                    </div>
                                </div>
                                <!-- /Sidebar -->
    
                                <!-- Calendar -->
                                <div class="col position-relative">
                                    <div class="card shadow-none border-0 mb-0 rounded-0">
                                        <div class="card-body pb-0">
                                            <div id="calendar"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Calendar -->
                                <div class="body-content-overlay"></div>
                            </div>
                        </div>
                        <!-- Calendar Add/Update/Delete event modal-->
                        <div class="modal modal-slide-in event-sidebar fade" id="add-new-sidebar">
                            <div class="modal-dialog sidebar-lg">
                                <div class="modal-content p-0">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                                    <div class="modal-header mb-1">
                                        <h5 class="modal-title">Agregar Evento</h5>
                                    </div>
                                    <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
                                        <form class="event-form">
                                            <div class="mb-1">
                                                <label for="" class="form-label">Entrenador</label>
                                                <input type="text" class="form-control" id="entrenador" name="entrenador" placeholder="" required />
                                            </div>
                                            <div class="mb-1">
                                                <label for="select-label" class="form-label">Grupo</label>
                                                <select class="select2 select-label form-select w-100" id="select-label" name="select-label">
                                                    <option data-label="primary"  value="">Seleccione un grupo</option>
                                                    {{#each gruposList as |grupo i|}}
                                                    <option data-label="primary"  value="{{pkIdGrupoGimnasio}}">{{nombre}}</option>
                                                    {{/each}}{{!-- 
                                                    <option data-label="danger" value="#FDC301">Amarillo</option>
                                                    <option data-label="warning" value="#202125">Negro</option>
                                                    <option data-label="info"  value="#329D32">Verde</option> --}}
                                                </select>
                                            </div>
                                            <div class="mb-1">
                                                <label for="" class="form-label">Precio</label>
                                                <input type="text" class="form-control" id="precio" name="precio" placeholder="" required />

                                            </div>
                                            <div class="mb-1">
                                                <label for="" class="form-label">Titulo</label>
                                                <input type="text" class="form-control" id="title" name="title" placeholder="" required />
                                            </div>
                                            <div class="mb-1">
                                                <label for="" class="form-label">Espacios Disponibles</label>
                                                <input type="text" class="form-control" id="espacios" name="espacios" placeholder="" required />
                                            </div>
                                            <div class="mb-1">
                                                <label for="" class="form-label">Inicio/Fin</label>
                                                <input type="text" id="range-date" class="form-control flatpickr-range flatpickr-input" name="range_fecha">
                                                <input type="text" id="start-date" class="d-none flatpickr-input">
                                                <input type="text" id="end-date" class="d-none flatpickr-input" >
                                            </div>
                                            <div class="mb-1">
                                                <div class="d-flex align-items-center">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" id="repetir" name="RecurrenceRule" value="S" checked="">
                                                        <label class="form-check-label" for="inlineCheckbox1">Repetir Semanalmente</label>
                                                    </div>
                                                    
                                                </div>
                                                <div class="d-none">
                                                <div class="form-check form-check-inline">
                                                        <input class="form-check-input checksRerrDays" type="checkbox" id="Lunes" value="1" >
                                                        <label class="form-check-label" for="inlineCheckbox2">Lunes</label>
                                                    </div>
                                                <div class="form-check form-check-inline">
                                                    
                                                        <input class="form-check-input checksRerrDays" type="checkbox" id="Martes" value="2" >
                                                        <label class="form-check-label" for="inlineCheckbox2">Martes</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input checksRerrDays" type="checkbox" id="Miercoles" value="3" >
                                                        <label class="form-check-label" for="inlineCheckbox2">Miercoles</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input checksRerrDays" type="checkbox" id="Jueves" value="4" >
                                                        <label class="form-check-label" for="inlineCheckbox2">Jueves</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input checksRerrDays" type="checkbox" id="Viernes" value="5" >
                                                        <label class="form-check-label" for="inlineCheckbox2">Viernes</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input checksRerrDays" type="checkbox" id="Sabado" value="6" >
                                                        <label class="form-check-label" for="inlineCheckbox2">Sabado</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input checksRerrDays" type="checkbox" id="Domingo" value="0" >
                                                        <label class="form-check-label" for="inlineCheckbox2">Domingo</label>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="d-none">
                                                <label for="" class="form-label">Fin de la repetición</label>
                                                <input type="text" id="end-dateRecurrencia" class="form-control flatpickr-date-time flatpickr-input" >
                                            </div>
                                            {{!-- <div class="mb-1">
                                                <label for="" class="form-label">Grupos permitidos</label>
                                                <select name="" id="gruposPermitidos" class="select2">
                                                    <option value="">Todos</option>
                                                    <option value="">Tarifa Básica</option>
                                                    <option value="">Fisioterapia</option>
                                                    <option value="">Zumba</option>
                                                    <option value="">Premium</option>
                                                    <option value="">Only You</option>
                                                    <option value="">For All</option>
                                                    <option value="">Etc</option>
                                                </select>
                                            </div> --}}
                                            <div class="mb-1">
                                                <label for="" class="form-label">Color</label>
                                                <select name="" id="color" class="select2">
                                                    <option value="Rojo" selected>Rojo</option>
                                                    <option value="Gris">Gris</option>
                                                    <option value="Amarillo">Amarillo</option>
                                                    <option value="Naranja">Naranja</option>
                                                    <option value="Morado">Morado</option>
                                                    <option value="Rosado Pastel">Rosado Pastel</option>
                                                    <option value="Rosado">Rosado</option>
                                                    <option value="Marron">Marron</option>
                                                    <option value="Azul Claro">Azul Claro</option>
                                                    <option value="Azul Oscuro">Azul Oscuro</option>
                                                    <option value="Verde Claro">Verde Claro</option>
                                                    <option value="Verde Oscuro">Verde Oscuro</option>
                                                </select>
                                            </div>
                                            <div class="mb-1">
                                                <label for="" class="form-label">Link</label>
                                                <input type="text" class="form-control" id="event-url">
                                            </div>
                                            <div class="mb-1">
                                                <label for="" class="form-label">Descripción</label>
                                                <textarea name="" id="event-description-editor" rows="1" class="form-control"></textarea>
                                            </div>

                                            <div class="mb-1 d-flex">
                                                <button type="submit" class="btn btn-primary add-event-btn me-1">Agregar</button>
                                                <button type="button" class="btn btn-outline-secondary btn-cancel" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary update-event-btn d-none me-1">Actualizar</button>
                                                <button class="btn btn-outline-danger btn-delete-event d-none">Eliminar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Calendar Add/Update/Delete event modal-->
                    </section>
                    <!-- Full calendar end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->